VITE_APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a0b5873002a0a6dd7ff
VITE_APPWRITE_PROJECT_NAME="ITAM Apontamento"
VITE_APPWRITE_DATABASE_ID=6a0b591e0034a52ea213

# Use o ID real de cada collection.
# Se você criou a collection manualmente com ID "funcionarios", pode manter funcionarios.
# Se o Appwrite gerou ID automático, copie o ID real em Collection > Settings > Collection ID.
VITE_APPWRITE_COLLECTION_FUNCIONARIOS_ID=funcionarios
VITE_APPWRITE_COLLECTION_MAQUINAS_ID=maquinas
VITE_APPWRITE_COLLECTION_OPS_ID=ops
VITE_APPWRITE_COLLECTION_APONTAMENTOS_ID=apontamentos
